
*{
    margin: 0px;
    padding: 0px;
}
#container{
display: flex;
margin-top:120px;
justify-content: center;

}
body{
    background-color: hsl(0, 0%, 8%);
    
}
#box{
    border: 1px solid  hsl(0, 0%, 12%);
    height:450px;
    width:280px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 12%);
    box-shadow: 4px 7px 2px black ;
     
    
}
img{
    border-radius: 50%;
    height:80px;
    margin-top:20px;
    box-shadow:0px 0px 7px gray;
    margin-left: 95px;
}
h1
{
    font-family:inter;
    text-align: center;
    color: hsl(0 0 100%);
    font-weight: 700;
    font-size: 25px;
    margin-top:15px;
    
}
h4{
    font-family: inter;
    text-align: center;
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 14px;
}
h5{
    font-family: inter;
    text-align: center;
    color:white;
    margin: 20px;
    font-size: 11px;
    font-weight: 400;
    
}    
button{
     display:inline; 
    height:30px;
    width: 200px;
    margin-left: 40px;
    color: white; 
    background-color:hsl(0, 0%, 20%);
    border-radius: 5px;
    border:2px solid hsl(0, 0%, 20%);
    cursor: pointer;
}
#b{
    margin-top:10px;
    
}
#c{
    margin-top:10px;
}
#d{
    margin-top:10px;
}
#e{
    margin-top:10px;
}
button:hover{
    background-color: yellowgreen;
    color:hsl(0, 0%, 20%);
    border:2px solid yellowgreen;

}
